
$nav-button-color: #dbff00;
$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1140px,
  xxl: 1320px
);
@import "./node_modules/bootstrap/scss/bootstrap.scss";

.navbar{
    padding: 0;
    .container-fluid{
        background: $black;
        height: 8vh;
        svg{
            color: $nav-button-color;
            font-size: 2rem;
            margin-left: 1vh;
            margin-top: 0.5vh;
        }
        img{
            object-fit: cover;
        }
        button{
            background-color:$nav-button-color;
            color: $black;
        }
    }
}
    .custom-col-lg {
        width: 25%; 
    }
    .col-lg-3 {
        background: $black;
        color: $white;
        border: .1px solid $gray-800;
        padding: 20px;

        li{
            padding-left: 5px;
            padding-top: 2px;
        }
        h2 {
            font-size: 2rem;
        }
        p{
            font-size: 0.9rem;
            color: $gray-500;
        }
    }
    .work_bold-container{
        background: $white;
        height: 100vh;
        padding-top: 40vh;
        position: sticky;
        top:0;


        .work_bold-text {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 38vw; 
            color: $black;
            text-align: center;
            
        }}
    
    .card {
        width: 40vw;
        margin: 4vh;
        background-color: none;
        border: none;
        border-radius: 0;
        p{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 0.8rem;
        }
    }
    .wwd-img{
        width: 100%;
        height: auto;
        max-height: 60vh;
        margin-top: 25vh;
        object-fit: contain;
    }
    .right  {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .center  {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hovered {
        padding: 0;
    }
    .col-one-hovered{
        background: $white;
        color: $black;
        transition: 500ms;
    }
    .video-properties{
        transition: 1ms;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    .hover-work{
        color: $gray-300;
        transition: 2s;
    }
    
.inactive {
    display: none;
}

.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: $black;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color:$black;
  }
  .hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  

@media (min-width: 992px) {
    .card {
      width: 28vw;
    }
    .work_bold-container{
        background: $white;
        height: 80vh;
        padding-top: 0vh;
        position: sticky;
        top:0;
  }
  .col-lg-3 {
      height: 100vh;
    
    h2{
        padding-top: 30vh;
        font-size: 4rem;
        width: 80%;
    }
    p{
        font-size: 0.9rem;
        color: $black;
        margin-top: 45vh;
    }
    }
}
